{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Soap" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ job.name }}</h1>
    <p>{{ job.description }}</p>
{% endblock %}
