{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Soap" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Thank you</h1>
    <p>Your request has been send</p>

{% endblock %}

